# Default ignored files
/../../../코드잇_자바/SpringBackendPractice/.idea/shelf/
/../../../코드잇_자바/SpringBackendPractice/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../코드잇_자바/SpringBackendPractice/.idea/httpRequests/
# Environment-dependent path to Maven home directory
/../../../코드잇_자바/SpringBackendPractice/.idea/mavenHomeManager.xml
# Datasource local storage ignored files
/../../../코드잇_자바/SpringBackendPractice/.idea/dataSources/
/../../../코드잇_자바/SpringBackendPractice/.idea/dataSources.local.xml
